[submodule "unixodbc-sys/vendor/unixODBC"]
	path = unixodbc-sys/vendor/unixODBC
	url = https://github.com/lurcher/unixODBC
[submodule "iodbc-sys/vendor/iODBC"]
	path = iodbc-sys/vendor/iODBC
	url = https://github.com/openlink/iODBC
